.container {
    @apply rounded-lg
    shadow-md
    p-4
    m-2
    bg-dark-background
    shadow-dark-background

    dark:bg-light-background
    dark:shadow-light-background

    hover:shadow-inner
    hover:shadow-light-background
    hover:dark:shadow-dark-background
    transition-shadow
    duration-300
}

.title {
    @apply text-xl font-bold mb-2;
}

.description {
    @apply text-gray-600 mb-1;
}

.sub_description {
    @apply text-gray-500 mb-1
}